<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=590, initial-scale=0.52, user-scalable=no">
    <title>ar1st0cratic pages</title>
    <link rel="icon" type="image/png" href="https://avatars0.githubusercontent.com/u/11902122?v=4&s=100">
    <link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet" /> 
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/coding.css" />
    <script type="text/javascript" src="../static/js/jsonutil.js"></script>
    <script type="text/javascript" src="../static/js/coding.js"></script>
    <script type="text/javascript">
        window.onload = createProjects;
    </script>
</head>
<body>
    <img src="../static/logo.svg" id="logo" onclick="location.href='../index.html'" />
    <img src="../static/images/coding.png" width="40" style="position:absolute; top: 65px;" />
    <div id="commits">
        <p>My GitHub activity</p>
        <svg id="commitspanel" viewBox="0 0 630 320" width="630" height="320">
            <text id="commits_no" x="400" y="100" style="font-size: 36px; fill: lightgreen;">
                0 commits
            </text>
            <text id="repo_count" x="40" y="230" style="font-size: 28px; fill: lightyellow;">
                0 repos
            </text>
            <text x="730" y="375" transform="rotate(22 890,-20)"
                                  style="font-size: 12px; fill: white;">
                Mon
            </text>
            <text x="715" y="390" transform="rotate(22 890,-20)"
                                  style="font-size: 12px; fill: white;">
                Wed
            </text>
            <text x="700" y="405" transform="rotate(22 890,-20)"
                                  style="font-size: 12px; fill: white;">
                Fri
            </text>
            <text id="date_now" x="580" y="430" transform="rotate(22 890,-20)"
                                style="font-size: 12px; fill: yellow;">
                ?
            </text>
            <text id="date_before" x="115" y="430" transform="rotate(22 890,-20)"
                                style="font-size: 12px; fill: yellow;">
                ?
            </text>
        </svg>
    </div>
    <div id="projects">
        <p>GitHub pet projects</p>
    </div>
    <p>
        <a href="https://github.com/ar1st0crat"><img src="../static/images/github.png" class="social" alt="github.com/ar1st0crat" /></a>
        <a href="https://t.me/tim_sharii"><img src="../static/images/telegram.png" class="social" alt="t.me/tim_sharii" /></a>
        <a href="https://www.youtube.com/channel/UC32I_hakQDYMZ0wWzEm3tIA"><img src="../static/images/youtube.png" class="social" alt="channel" /></a>
    </p>
    <div id="about">
        &copy; 2021 Tim Sharii<br/>
        art1st.prog<span id="filler">at</span>gmail.com
    </div>
</body>
</html>