<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ar1st0cratic pages</title>
    <link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet" /> 
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/coding.css" />
    <script type="text/javascript" src="../static/js/jsonutil.js"></script>
    <script type="text/javascript" src="../static/js/coding.js"></script>
    <script type="text/javascript">
        window.onload = createProjects;
    </script>
</head>
<body>
    <img src="../static/logo.svg" id="logo" onclick="location.href='../index.html'" />
    <img src="../static/images/coding.png" width="40" style="position:absolute; top: 65px;" />
    <div id="projects">
        <p>GitHub pet projects</p>
    </div>
    <div id="commercial">
        <p>Commercial projects</p>
        <div>
            <p>2013-2014</p>
            <p class="projname">GENPLAN logistics system</p>
            <span>C++</span>
            <span>Qt</span>
            <span>PostgreSQL</span>
            <img src="../static/images/genplan.png" />
            <p>The system stores and processes information regarding topographic sheets (planers), employees and customers of GenPlan company. Customers may borrow and return topographic sheets, attach DWG files containing their changes. The system automatically tracks the history of planer versions and allows viewing, downloading and updating any version, and automatic parsing of DWG files in order to generate the so called digital version of the topographic sheet. The history of digital planer versions is tracked as well. Thus, the system is like a "Git for topographers".</p>
        </div>
        <div>
            <p>2012-2013</p>
            <p class="projname">AmiGo Toys logistics system</p>
            <span>C++</span>
            <span>MFC</span>
            <span>WinSock</span>
            <span>MS SQL</span>
            <span>WinCE</span>
            <span>Win32 API</span>
            <img src="../static/images/amigo.png" />
            <p>The system stores and processes information about employees of AmigoToys company (packers and cashiers) and their tasks in progress, as well as new tasks (personal or public) available on server. Each task contains the list of planned and actually scanned products. The system allows downloading, hierarchical viewing, sorting, re-packing products, viewing logs, starting and completing tasks. Thick yet lightweight clients were written for Windows CE, Windows XP and later versions. GUI looks very "90's", however users have found it quite user-friendly and expressive.</p>
        </div>
    </div>
    <a href="https://github.com/ar1st0crat">
        <img src="../static/images/github.png" id="github" alt="github.com/ar1st0crat"/>
    </a>
    <div id="about">
        &copy; 2017 Tim Sharii<br/>
        Just a human being with a PhD
    </div>
</body>
</html>