<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ar1st0cratic pages</title>
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../static/css/music.css" />
</head>
<body>
    <img src="../static/logo.svg" id="logo" onclick="location.href='../index.html'" />
    <img src="../static/images/music.png" width="40" style="position:absolute; top: 65px;" />
    <div id="main">
        <p>Some demos</p>
        <iframe width="60%" height="350" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F213955629&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>

        <p>2009 - Ocelot's Wind</p>
        <iframe width="60%" height="510" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F213920738&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>

        <p>2011 - Philosopher's Stone</p>
        <iframe width="60%" height="600" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F213914972&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
    </div>
    <a href="https://github.com/ar1st0crat">
        <img src="../static/images/github.png" id="github" alt="github.com/ar1st0crat"/>
    </a>
    <div id="about">
        &copy; 2017 Tim Sharii<br/>
        Just a human being with a PhD
    </div>
</body>
</html>