<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=570, initial-scale=0.55, user-scalable=no">
    <title>ar1st0cratic pages</title>
    <link rel="icon" type="image/png" href="https://avatars0.githubusercontent.com/u/11902122?v=4&s=100">
    <link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet" /> 
    <link rel="stylesheet" type="text/css" href="../static/css/science.css" />
    <script type="text/javascript" src="../static/js/jsonutil.js"></script>
    <script type="text/javascript" src="../static/js/science.js"></script>
    <script type="text/javascript">
        window.onload = function() {
            createPapers();
            createHandlers();
        }
    </script>
</head>
<body>
    <img src="../static/logo.svg" id="logo" onclick="location.href='../index.html'" />
    <img src="../static/images/science.png" width="40" style="position:absolute; top: 65px;" />
    <div id="skills">
        <p>Scientific interests and skills</p>
        <div id="dsp" onmouseenter="showSkills('dsp');" onmouseleave="hideSkills('dsp');">
            <span>Digital Signal Processing</span>
        </div>
        <div id="ai" onmouseenter="showSkills('ai');" onmouseleave="hideSkills('ai');">
            <span>Soft computing and ML</span>
        </div>
        <div id="synthesis" onmouseenter="showSkills('synthesis');" onmouseleave="hideSkills('synthesis');">
            <span>Speech and music synthesis</span>
        </div>
        <svg width="450" height="500" viewBox="0 0 450 500">
            <path d="M100 80 Q 220 20, 320 100" stroke="rgba(255,255,255,0.7)" stroke-width="5" fill="transparent" />
            <path d="M390 140 Q 360 360, 240 380" stroke="rgba(255,255,255,0.7)" stroke-width="5" fill="transparent" />
            <path d="M180 380 Q 10 260, 80 80" stroke="rgba(255,255,255,0.7)" stroke-width="5" fill="transparent" />
        </svg>
    </div>
    <div id="publications">
        <p>Selected publications:</p>
    </div>
    <p>My earlier research in brief</p>
    
    <div id="research">
        <div class="rs">
            <img src="../static/images/segmentation.png" />
            <span>Segmenting</span>
        </div>
        <div class="rs">
            <img src="../static/images/prosody.png" />
            <span>Prosody</span>
        </div>
        <div class="rs">
            <img src="../static/images/pca.png" />
            <span>MFCC-PCA</span>
        </div>
        <div class="rs">
            <img src="../static/images/phonology.png" />
            <span>Multi-level</span>
        </div>
        <div class="rs">
            <img src="../static/images/fcas.png" />
            <span>FCAS network</span>
        </div>
    </div>
    <p id="researchname">Speech data processing based on soft computing models</p>
    <div>
        <img id="showscreen" src="../static/images/research.png" />
    </div>
    <p>
        <a href="https://github.com/ar1st0crat"><img src="../static/images/github.png" class="social" alt="github.com/ar1st0crat" /></a>
        <a href="https://t.me/tim_sharii"><img src="../static/images/telegram.png" class="social" alt="t.me/tim_sharii" /></a>
        <a href="https://www.youtube.com/channel/UC32I_hakQDYMZ0wWzEm3tIA"><img src="../static/images/youtube.png" class="social" alt="channel" /></a>
    </p>
    <div id="about">
        &copy; 2020 Tim Sharii<br/>
        art1st.prog<span id="filler">at</span>gmail.com
    </div>
</body>
</html>