<!DOCTYPE html>
<html>
<head>
    <title>ar1st0cratic pages</title>
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../static/css/teaching.css" />
</head>
<body>
    <img src="../static/logo.svg" id="logo" onclick="location.href='../index.html'" />
    <img src="../static/images/teaching.png" width="40" style="position:absolute; top: 65px;" />
    <div id="main">
        <p>Under construction...</p>
    </div>
    <a href="https://github.com/ar1st0crat">
        <img src="../static/images/github.png" id="github" alt="github.com/ar1st0crat"/>
    </a>
    <div id="about">
        &copy; 2017 Tim Sharii<br/>
        Just a human being with a PhD
    </div>
</body>
</html>