<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=570, initial-scale=0.55, user-scalable=no">
    <title>ar1st0cratic pages</title>
    <link rel="icon" type="image/png" href="https://avatars0.githubusercontent.com/u/11902122?v=4&s=100">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Marck+Script" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../static/css/writing.css" />
    <script type="text/javascript" src="../static/js/jsonutil.js"></script>
    <script type="text/javascript" src="../static/js/writing.js"></script>
    <script>
        window.onload = createLyrics;
    </script>
</head>
<body>
    <img src="../static/logo.svg" id="logo" onclick="location.href='../index.html'" />
    <img src="../static/images/writing.png" width="40" style="position:absolute; top: 65px;" />
    <div id="main">
        <div id="container">
            <div id="text">
                <span id="versetitle">Rare archives</span>
            </div>
        </div>
        <div>
            <ul id="collections"></ul>
        </div>
    </div>
    <p>
        <a href="https://github.com/ar1st0crat"><img src="../static/images/github.png" class="social" alt="github.com/ar1st0crat" /></a>
        <a href="https://t.me/tim_sharii"><img src="../static/images/telegram.png" class="social" alt="t.me/tim_sharii" /></a>
        <a href="https://www.youtube.com/channel/UC32I_hakQDYMZ0wWzEm3tIA"><img src="../static/images/youtube.png" class="social" alt="channel" /></a>
    </p>
    <div id="about">
        &copy; 2020 Tim Sharii<br/>
        art1st.prog<span id="filler">at</span>gmail.com
    </div>
</body>
</html>