@import url("main.css");

#logo:hover {
    cursor: pointer;
}

#commits, #projects {
    width: 80%;
    margin: 0 auto;
}

.project {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 300px;
    overflow: auto;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    color: black;
}

.project:hover .info {
    display: none;
}

.project .info {
    background: rgba(240,240,240,0.9);
    margin: 10px;
    padding: 20px;
    text-align: center;
    font-family: "Neucha";
    font-size: 0.9em;
}

.info span {
    display: block;
    margin: 3px;
}

.projtitle {
    font-size: 1.4em;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.language {
    font-size: 1.2em;
    color: red;
    padding: 10px;
}

.repolink {
    visibility: hidden;
    position: absolute;
    left: 40px;
    top: 250px;
    background: rgba(60,60,60,0.9);
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 15px;
    padding-bottom: 15px;
    vertical-align: middle;
    text-decoration: underline;
    color: white;
}

.project:hover .repolink {
    visibility: visible;
    cursor: pointer;
    box-shadow: 5px 5px 2px 0 rgba(0,0,0,0.5);
    transform: translate3d(0px, -140px, 0px);
    -webkit-transition: transform 0.15s;
    transition: transform 0.15s;
}

#commercial {
    border-top: 2px white solid;
    max-width: 750px;
    margin: 0 auto;
    margin-top: 40px;
    width: 80%;
}

#commercial > div {
    margin-top: 50px;
    margin-bottom: 80px;
}

#commercial > img {
    width: 70%;
    margin: 20px;
}

#commercial > div > span {
    display: inline-block;
    border-radius: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 5px;
    background: rgba(0,0,0,0.4);
}

#commercial li {
    text-decoration: none;
}

.projname {
    color: rgb(250,250,80);
    font-size: 1.2em;
    text-shadow: 2px 2px black;
}

.comproject {
    margin-top: 30px;
    font-size: 0.75em;
    border-radius: 12px;
    box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.5);
}

.comproject > img {
    float: left;
    height:250px;
    width: 320px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.comproject > p {
    display: table-cell;
    background-color: rgba(250, 150, 150, 0.2);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 20px;
    height: 210px;
    vertical-align: middle;
}