html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    text-align: center;
    background: rgb(45, 50, 51);
    background: -webkit-linear-gradient(rgb(45, 50, 51) 0%, rgb(82, 106, 130) 40%, rgb(82, 106, 130) 75%, rgb(40, 65, 78) 100%);
    background: -o-linear-gradient(rgb(45, 50, 51) 0%, rgb(82, 106, 130) 40%, rgb(82, 106, 130) 75%, rgb(40, 65, 78) 100%);
    background: linear-gradient(rgb(45, 50, 51) 0%, rgb(82, 106, 130) 40%, rgb(82, 106, 130) 60%, rgb(40, 65, 78) 100%);
    background-attachment: fixed;
}

#logo {
    width: 400px;
    height: 120px;
    margin-top: 25px;
    display: inline;
}

#container {
    align-content: center;
    align-items: center;
    font-family: 'Indie Flower', cursive;
    font-size: 1.3em;
    color: white;
}

.main-icon {
    margin: 5px -5px -5px -5px;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    display: inline-block;
}

.main-icon:hover {
    background-color: rgba(250,254,251,0.15);
    cursor: pointer;
}

.main-icon img {
    padding-top: 15px;
    margin-bottom: -25px;
    width: 32px;
    height: 32px;
}

#desc {
    width: 400px;
    height: 150px;
    margin: 50px auto;
    padding: 15px;
    color: white;
    border: 1px solid;
    border-color: white;
    border-radius: 10px;
    font-family: 'Bree Serif';
    font-size:  0.8em;
}

#github {
    margin: -35px 5px 5px 5px;
    width: 36px;
    height: 36px;
    opacity: 0.6;
    cursor: pointer;
}

#github:hover {
    opacity: 1;
}

#about {
    font-family: 'Bree Serif';
    font-size:  0.7em;
}

.language {
    width: 90px;
    height: 90px;
    margin: 25px 20px 15px 20px;
}