@import url("main.css");

#container {
    align-content: center;
    align-items: center;
    font-family: 'Indie Flower', cursive;
    font-size: 1.3em;
    color: white;
}

.main-icon {
    margin: 5px -5px -5px -5px;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    display: inline-block;
}

.main-icon:hover {
    background-color: rgba(250,254,251,0.15);
    cursor: pointer;
}

.main-icon img {
    padding-top: 15px;
    margin-bottom: -25px;
    width: 32px;
    height: 32px;
}

#desc {
    width: 400px;
    height: 150px;
    margin: 50px auto;
    padding: 15px;
    color: white;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: white;
    font-family: 'Bree Serif';
    font-size:  0.8em;
}

.language {
    width: 90px;
    height: 90px;
    margin: 25px 20px 15px 20px;
}

q {
    color: rgb(255,220,200);
    font-size: 1.2em;
}
