html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    text-align: center;
    background-image: url("../images/back.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Bree Serif";
    color: white;
}

::-moz-selection { 
    color: lightblue;
    background: none;
}

::selection { 
    color: lightblue;
    background: none;
}

#logo {
    width: 400px;
    height: 120px;
    margin-top: 25px;
    display: inline;
}

.social {
    width: 36px;
    height: 36px;
    opacity: 0.6;
    cursor: pointer;
}

.social:hover {
    opacity: 1;
}

#about {
    color: white;
    font-family: 'Bree Serif';
    font-size:  14px;
    margin-bottom: 40px;
}

#filler {
    margin-left: 7px;
    margin-right: 7px;
    opacity: 0.8;
    font-size: 0.9em;
    display: inline-block;
    transform: rotate(-20deg);
}
