@import url("main.css");

#logo:hover {
    cursor: pointer;
}

#publications {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 2px solid white;
}

.publication {
    display: inline-block;
    width: 320px;
    height: 320px;
    overflow: auto;
    background: rgba(250,250,250,0.2);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.publication:hover {
    background: rgba(200,200,200,0.5);
}

.publication .pic {
    float: left;
    width: 70px;
    text-align: center;
}

.pic img {
    width: 40px;
    height: 40px;
}

.publication .info {
    margin-left: 75px;
    text-align: left;
    font-family: "Neucha";
}

.info span {
    display: block;
    margin: 3px;
}

.pubtitle {
    color: lightyellow;
    font-size: 1.1em;
    padding-bottom: 15px;
    text-transform: uppercase;
}

#skills {
    width: 80%;
    max-width: 450px;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 50px;
    position: relative;
}

#skills div {
    position: absolute;
    border-radius: 50%;
    width: 190px;
    height: 190px;
    box-shadow: 5px 5px 2px 0 rgba(0,0,0,0.5);
    color: black;
    font-family: "Neucha", bold;
    cursor: pointer;
}

#skills div span {
    display: block;
    width: 150px;
    font-size: 26px;
    text-transform: uppercase;
    padding-left: 20px;
    padding-top: 45px;
}

#dsp {
    top: 45px;
    left: 10px;
    background-color: #ffffaf;
}

#ai {
    top: 125px;
    left: 250px;
    background-color: #dfffaf;
}

#synthesis {
    top: 295px;
    left: 60px;
    background-color: #afffaf;
}

#showscreen {
    width: 540px;
    box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.5);
    margin-top: 30px;
    margin-bottom: 40px;
    border-radius: 12px;
}

#researchname {
    color: rgb(250,250,80);
    width: 35%;
    margin: 0 auto;
    font-size: 1.1em;
    text-shadow: 2px 2px black;
}

#research {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    display: table;
}

.rs {
    width: 120px;
    font-size: 0.9em;
    transform: rotate(-7deg);
    cursor: pointer;
    display: table-cell;
}

.rs img {
    width: 120px;
    height: 100px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.5);
}

.rs span {
    display: inline-block;
    background-color: rgba(250, 150, 150, 0.2);
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 10px;
    width: 100px;
    margin: -3px;
    box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.5);
}

.selected {
    color: rgb(255,255,0);
}

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: scale(0.8);
        transform: scale(0.8) rotate(-7deg);
    }
    30%
    {
        -webkit-transform: scale(1.25);
        transform: scale(1.25) rotate(-7deg);
    }
    60%
    {
        -webkit-transform: scale(0.8);
        transform: scale(0.8) rotate(-7deg);
    }
    100%
    {
        -webkit-transform: scale(1.25);
        transform: scale(1.25) rotate(-7deg);
    }
}

@keyframes swing
{
    15%
    {
        -webkit-transform: scale(0.8);
        transform: scale(0.8) rotate(-7deg);
    }
    30%
    {
        -webkit-transform: scale(1.25);
        transform: scale(1.25) rotate(-7deg);
    }
    60%
    {
        -webkit-transform: scale(0.8);
        transform: scale(0.8) rotate(-7deg);
    }
    100%
    {
        -webkit-transform: scale(1.25);
        transform: scale(1.25) rotate(-7deg);
    }
}

.rs:hover {
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
