html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding-bottom: 40px;
    text-align: center;
    background: rgb(45, 50, 51);
    background: -webkit-linear-gradient(rgb(45, 50, 51) 0%, rgb(82, 106, 130) 40%, rgb(82, 106, 130) 75%, rgb(40, 65, 78) 100%);
    background: -o-linear-gradient(rgb(45, 50, 51) 0%, rgb(82, 106, 130) 40%, rgb(82, 106, 130) 75%, rgb(40, 65, 78) 100%);
    background: linear-gradient(rgb(45, 50, 51) 0%, rgb(82, 106, 130) 40%, rgb(82, 106, 130) 60%, rgb(40, 65, 78) 100%);
    background-attachment: fixed;
}

#logo {
    width: 400px;
    height: 120px;
    margin-top: 25px;
}

#main {
    width: 800px;
    margin: 10px auto;
}

#collections {
    float: left;
    width: 175px;
    height: auto;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.4em;
    background: rgba(0,0,0,0.3);
}

.collection-icon img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px 0 rgba(39,164,231,0.25);
}

#container {
    float: left;
    background: url("../images/sheet.jpg");
    align-content: center;
    align-items: center;
    width: 600px;
    height: auto;
    overflow: auto;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

#text {
    color: black;
    padding: 10px;
    margin-left: 80px;
    font-size: 1.2em;
    font-family: 'Marck script', cursive, bold;
}
