html {
    height: 1200px;//100%;
}

body {
    height: 1200px;//100%;
    margin: 0;
    text-align: center;
    background: rgba(39,98,131,1);
    background: -webkit-linear-gradient(rgba(40,100,121,1) 0%, rgba(200,220,240,1) 25%, rgba(200,220,240,50) 35%, rgba(39,165,230,1) 100%);
    background: -o-linear-gradient(rgba(40,100,121,1) 0%, rgba(200,220,240,1) 25%, rgba(200,220,240,50) 35%, rgba(39,165,230,1) 100%);
    background: linear-gradient(rgba(40,100,121,1) 0%, rgba(200,220,240,50) 40%, rgba(39,165,230,1) 100%);
}

#logo {
    width: 400px;
    height: 110px;
    padding: 10px;
    margin-left: 80px;
    margin-top: 25px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
}

#main {
    width: 800px;
    margin: 10px auto;
}

#collections {
    float: left;
    width: 175px;
    height: auto;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.4em;
}

.collection-icon img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px 0 rgba(39,164,231,0.25);
}

#container {
    float: left;
    box-shadow: 15px 15px 15px 0 lightgray;
    background: url("../images/sheet.jpg");
    align-content: center;
    align-items: center;
    width: 600px;
    height: auto;
    overflow: auto;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

#text {
    color: black;
    padding: 10px;
    margin-left: 80px;
    font-size: 1.2em;
    font-family: 'Marck script', cursive, bold;
}
